[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
